/* ANCHOR: fe_css */
.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-inline-start: 0;
}

nav > ul > li {
  cursor: pointer;
}

.form-control {
  text-align: left;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

.form-control > input {
  margin-bottom: 1rem;
}

.form-control > button {
  cursor: pointer;
  background: rgb(31, 246, 155);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 20px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.item-card {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 4px;
  border: 1px solid rgb(31, 246, 155);
}

.active-tab {
  background: rgb(35, 35, 35);
}

button {
  cursor: pointer;
  background: rgb(31, 246, 155);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
/* ANCHOR_END: fe_css */
